<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="ドローシート"
            extensions="dsh"
            icon="icons/frog.gif"
            contributorClass="nyumondrawsheetplugin.editors.DrawSheetEditorContributor"
            class="nyumondrawsheetplugin.editors.DrawSheetEditor"
            id="nyumondrawsheetplugin.editors.DrawSheetEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="どろーカテゴリ"
            id="NyumonDrawsheetPlugin">
      </category>
      <wizard
            name="どろーウィザード"
            icon="icons/frog.gif"
            category="NyumonDrawsheetPlugin"
            class="nyumondrawsheetplugin.wizards.DrawSheetNewWizard"
            id="nyumondrawsheetplugin.wizards.DrawSheetNewWizard">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="nyumondrawsheetplugin.views.PaletteView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
         <newWizardShortcut
               id="nyumondrawsheetplugin.wizards.DrawSheetNewWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="NyumonDrawsheetPlugin"
            name="ぱれっとのカテゴリ">
      </category>
      <view
            category="NyumonDrawsheetPlugin"
            class="nyumondrawsheetplugin.views.PaletteView"
            icon="icons/frog.gif"
            id="nyumondrawsheetplugin.views.PaletteView"
            name="ぱれっとビューだよ">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="nyumondrawsheetplugin.properties.DrawSheetPropertyPage"
            id="nyumondrawsheetplugin.properties.samplePropertyPage"
            name="ドロープロパティページ"
            nameFilter="*.dsh">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IFile">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>

</plugin>
